hr_executor_import_v4.json
[
  {
    "updatedAt": "2026-04-11T16:56:28.824Z",
    "createdAt": "2026-04-11T15:50:36.039Z",
    "id": "f1c56dff2a9ca542",
    "name": "HR Recruitment Executor (fixed v4)",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "execute-workflow",
          "options": {}
        },
        "id": "fb9bb705-7cb5-4d9b-ac56-a17a28601ce6",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "webhookId": "dd8b6724-5510-4f7f-8091-2bee5a5dd130"
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "request_id",
                "value": "={{ $json.body.request_id }}"
              },
              {
                "name": "workflow_type",
                "value": "={{ $json.body.workflow_type }}"
              },
              {
                "name": "user_email",
                "value": "={{ $json.body.payload.user_email }}"
              },
              {
                "name": "callback_url",
                "value": "={{ $json.body.callback_url }}"
              },
              {
                "name": "extracted_text",
                "value": "={{ $json.body.payload.email_data.body || $json.body.payload.email_data.subject || JSON.stringify($json.body.payload || {}) }}"
              }
            ]
          },
          "options": {}
        },
        "id": "5e0dc25f-7fc8-486f-88f3-017051e59fa2",
        "name": "Extract Context",
        "type": "n8n-nodes-base.set",
        "position": [
          256,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "extracted_text",
                "value": "={{ $json.payload?.email_data?.body || $json.payload?.email_data?.subject || ($json.payload ? JSON.stringify($json.payload) : '') }}"
              }
            ]
          },
          "options": {}
        },
        "id": "0b312f0a-b4b4-48b4-a9ed-c0da796be3c0",
        "name": "Extract Text",
        "type": "n8n-nodes-base.set",
        "position": [
          560,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "url": "={{ ($env.FASTAPI_BASE_URL || \"http://host.docker.internal:8010\") + \"/api/rank/candidates\" }}",
          "method": "POST",
          "options": {},
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ request_id: $json.request_id, workflow_type: $json.workflow_type, extracted_text: $json.extracted_text, criteria: '', ranking_logic: 'weighted_scoring', candidates: [] }) }}"
        },
        "id": "529f1bfb-7eb8-4a28-9296-ee93d10b6d17",
        "name": "Rank Candidates",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          864,
          0
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "url": "={{ ($env.FASTAPI_BASE_URL || \"http://host.docker.internal:8010\") + \"/api/shortlist/candidates\" }}",
          "method": "POST",
          "options": {},
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ request_id: $json.body.request_id || $json.request_id, ranked_candidates: $json.body.ranked_candidates || $json.ranked_candidates || [], top_k: 3, timezone: 'UTC', working_hours_start: '09:00', working_hours_end: '17:00', slot_duration_minutes: 30, slot_gap_minutes: 15, use_calendar_freebusy: false, freebusy_lookahead_days: 14, calendar_account: 'primary' }) }}"
        },
        "id": "eaafeee5-6057-4b90-8fd3-8764a0a3ad67",
        "name": "Shortlist",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1152,
          0
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "url": "={{ $item(0).$node[\"Extract Context\"].json.callback_url }}",
          "method": "POST",
          "options": {},
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ request_id: $item(0).$node['Extract Context'].json.request_id, workflow_type: $item(0).$node['Extract Context'].json.workflow_type, status: 'completed', results: $json.body.shortlisted || $json.shortlisted || [], metadata: { user_email: $item(0).$node['Extract Context'].json.user_email, source: 'hr_recruitment_execute_workflow_fixed' } }) }}"
        },
        "id": "9e136bc9f3766ee1",
        "name": "Execution Callback",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1500,
          0
        ],
        "typeVersion": 4.2
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Extract Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Context": {
        "main": [
          [
            {
              "node": "Extract Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Text": {
        "main": [
          [
            {
              "node": "Rank Candidates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rank Candidates": {
        "main": [
          [
            {
              "node": "Shortlist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Shortlist": {
        "main": [
          [
            {
              "node": "Execution Callback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "9e22516affd24a6934ce118b6f66af39",
    "activeVersionId": null,
    "versionCounter": 1,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-04-11T15:50:36.050Z",
        "createdAt": "2026-04-11T15:50:36.050Z",
        "role": "workflow:owner",
        "workflowId": "0CmQgkQZspaGecYn",
        "projectId": "AhbfWspAylxboFZp",
        "project": {
          "updatedAt": "2026-03-09T17:15:33.594Z",
          "createdAt": "2026-03-09T17:14:42.549Z",
          "id": "AhbfWspAylxboFZp",
          "name": "Danish Shah <danishshah9749@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "64eddb0c-a399-4339-9d42-94fe407987a3"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]