all_workflows.json/tH21Ij3ffr1wiC04.json
{
  "updatedAt": "2026-04-11T15:48:51.000Z",
  "createdAt": "2026-03-15T17:08:21.212Z",
  "id": "tH21Ij3ffr1wiC04",
  "name": "Rule | Invoice Processor | new_email_received",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "oAuth2",
        "event": "messageReceived",
        "simple": false,
        "filters": {
          "includeSpamTrash": false,
          "includeDrafts": false,
          "labelIds": [
            "INBOX"
          ],
          "q": "in:inbox has:attachment (filename:pdf OR filename:xls OR filename:xlsx OR filename:csv) (invoice OR bill OR receipt) -from:noreply -from:no-reply newer_than:30d",
          "readStatus": "unread"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -640,
        -80
      ],
      "id": "14d04b8f-a8a1-47e3-a44d-51bd731f22d0",
      "name": "Rule Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "XxqaRtw9swG1kcXj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4cb4b93c-5b20-49b5-8eea-27ecd0662d62",
              "name": "rule_id",
              "value": "0eff5528-2962-4b9d-8b37-401434683536",
              "type": "string"
            },
            {
              "id": "3b9be6ca-2af6-40f9-b9a2-6b85bb4397b8",
              "name": "workflow_type",
              "value": "sheets_automation",
              "type": "string"
            },
            {
              "id": "685bf74a-8ae7-415f-ab78-bbdb2e49c439",
              "name": "trigger_type",
              "value": "new_email_received",
              "type": "string"
            },
            {
              "id": "64ebeb20-419d-4844-9f7a-2c68c0365e66",
              "name": "user_statement",
              "value": "Process invoice emails",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -80
      ],
      "id": "0057379b-ee92-4663-ae33-446dce4a189c",
      "name": "Set Rule Context"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/automation-rules/0eff5528-2962-4b9d-8b37-401434683536/dispatch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -128,
        -80
      ],
      "id": "49006608-a57b-4c52-beec-713e55e16642",
      "name": "Dispatch Rule to Backend"
    }
  ],
  "connections": {
    "Rule Trigger": {
      "main": [
        [
          {
            "node": "Set Rule Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Rule Context": {
      "main": [
        [
          {
            "node": "Dispatch Rule to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Rule Trigger": {
      "Rule Trigger": {
        "lastTimeChecked": 1773594501
      }
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "8dbb3c5f-9133-46e5-ac31-b795a03c7376",
  "activeVersionId": null,
  "versionCounter": 31,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-15T17:08:21.218Z",
      "createdAt": "2026-03-15T17:08:21.218Z",
      "role": "workflow:owner",
      "workflowId": "tH21Ij3ffr1wiC04",
      "projectId": "AhbfWspAylxboFZp",
      "project": {
        "updatedAt": "2026-03-09T17:15:33.594Z",
        "createdAt": "2026-03-09T17:14:42.549Z",
        "id": "AhbfWspAylxboFZp",
        "name": "Danish Shah <danishshah9749@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "64eddb0c-a399-4339-9d42-94fe407987a3"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}